body    {background-color: rgb(51, 51, 51);}
h1      {color: blanchedalmond;}
p       {color:blanchedalmond;}
pre     {color:blanchedalmond;}
a:link      {color:cyan}
a:visited   {color: paleturquoise;}
a:hover     {color: powderblue;}
a:active    {color: royalblue ;}