body            {background-image: url(legoboy.jpg);
                background-repeat: no-repeat;
                background-size: auto;
                background-position: center;
                text-align: end}

h1,p.generic    {color: yellow;}
.pridemonth     {color: pink;
                text-transform: capitalize;}