body    {background-color: rgb(2, 2, 4);
        text-align: center;}


p       {color: blanchedalmond;
        font-size: 36px;}

.boomer {font-family: 'Times New Roman', Times, serif;}

.hipster{font-family: Arial, Helvetica, sans-serif;
        font-style: italic;}

.wack   {font-family: serif;
        font-style: oblique;}