body    {background-color: rgb(2, 2, 4);
        text-align: center;}

p       {color: blanchedalmond;
        font-size: 18px;
        border-style: dotted;
        border-color: blanchedalmond;}        